<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Exercicio aula 5, 6, 7, 8</title>
</head>

<body>
    <section class="container">
        <h1>titulo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ullam explicabo ratione dignissimos,
            voluptatum sed modi vel officiis nihil alias saepe illo voluptate dicta similique, nulla quasi cum at eum!
        </p>
        <form action="">
            <label for="">Input text</label>
            <input type="text" name="" id="">
            <label for="">Input password</label>
            <input type="password" name="" id="">
            <label for="">Input email</label>
            <input type="email" name="" id="">
            <label for="">Input number</label>
            <input type="number" name="" id="">
            <button>Enviar</button>
        </form>
    </section>
    <script src="./assets/js/script.js"></script>
</body>

</html>